.our-team-wrapper{
    background-color: #ececec;
    height: 300px;
    position: relative;
    
}




.our-team{
    padding: 70px 0 80px 0;
    text-align: center;
    font-family: Arial, 'Times New Roman', Times, sans-serif;
    font-size: 30;
    text-transform: uppercase;
    color: #99a3a4;
    font-weight: bold;


}


.card-wrapper{
    position: absolute;
    bottom: 30%;
    left: 7%;

}

.card-wrapper p {
    padding: 10%;
    color: white;
    visibility: hidden;
    
}

.card-wrapper a{
    text-decoration: none;
}


.card{
    background-image:url("../images/card.png");
    width: 270px;
    height: 310px;
}
.card {
    position: relative;
    margin: 0 10px;
    display: inline-block;
}
.social-wrapper {
    margin-left: 30px;
    visibility: hidden;
}

.social{
    margin: 3px;
}

.card:hover{
    background: url("../images/cardblue.png");
}

.card:hover .btn{
    background:#e9645b;
}

.card:hover p{
    visibility: visible;
}
.card:hover .social-wrapper{
    visibility: visible;
}

.btn{
    background: #99a3a4;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    bottom: -10%;
    left: 15%;
    color: white;
}

.btn:hover{
    background: #e9645b;
} 