*{
    margin: 0;
    padding: 0;
}


.box-container{
    width: 500px;
    height: 500px;
    background: rgb(228, 227, 226);
    margin: 0 auto;
    position: relative;
}

.box
{
    /* background-image: url('https://www.animatedimages.org/data/media/183/animated-ant-image-0071.gif');
    background-repeat: no-repeat;
    background-size: 25px 25px; */
    background-color: red;
    /* background-image:url('../images/ant.png') ; */
    position: absolute;
}


.antcounter{
    color: green;
    width: 500px;
    margin:0 auto ;
}