*{
margin: 0;
padding: 0;
}


.tile{
    width: 50px;
    height: 50px;
    background-color: gray;
    /* background-image: url('arrow1_sheet0.png'); */
    display: inline-block;
    border: 1px solid white;
    cursor: pointer;
}


#tile1{
    background-image: url('../images/1.png');
}

#tile1:hover{
   border: 1px solid red;
}
#tile2{
    background-image: url('../images/2.png');
}

#tile2:hover{
    border: 1px solid red;
 }

#tile3{
    background-image: url('../images/3.png');
}
#tile3:hover{
    border: 1px solid red;
 }

#tile4{
    background-image: url('../images/4.png');
}

#tile4:hover{
    border: 1px solid red;
 }





.tilemap{
    overflow: visible;
    width: 3120px;
    height: 650px;
    padding-top: 100px;
    /* background-color: brown; */
}


.btn{
    margin-left: 50px;
    margin-top: 0px;
    height: 50px;
    width: 80px;
}