
.hot-line{
    font-size: 12px;
    font-weight: bold;
    font-family: Roboto;
}

/* nav {
    padding: 15px 0 15px 0;
    background-color: white
} */



.navbar{
    display: inline-block;
    float: right;
    background: white
}

.navbar li{
    display: inline-block;
    
}



.header-top-wrapper{
background: white;
padding: 15px 0;
}

.header-top{
    overflow: auto;
    
}

.nav-dash-line{
    height: 1px;
    background-image: url("../images/nav-dash.png");
    background-repeat: repeat-x;
}

.header-bottom-wrapper{
    background: rgba(rgb(255, 255, 255,0.8), green, blue, alpha);
    box-shadow: 1px 3px rgba(191, 191, 191, 0.3)
}

.header-bottom{
    clear: both;
    overflow: auto;
}


.navbar-menu li {
    text-transform: uppercase;
    display: inline-block;
    width: 90px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    border: 2px white solid;
 
    
}

.navbar-menu li a{
    text-decoration: none;
    color: #68707a;
}

.navbar-menu li:hover{
   border-top: 2px yellowgreen solid;
   
}

.navbar-menu{
    line-height: 40px;
    padding: 20px auto;
    margin-left: 0%;
  
}

/* end of header css */

.clear-fix{
    clear: both;
}

/* starting container css */


.container{
    padding-top: 315px;
}

.container h1{
    width: 800px;
  
    margin: 0 auto;
    
    
}

.inner-content{
    width: 650px;
    margin: 0 auto;
    margin-top: 45px;
}

.btn{
    margin: 25px 0 215px 0;
    text-align: center;
}

#explore-btn{
    height: 45px;
    width: 140px;
    border-radius: 25px;
    box-shadow: 2px 2px 1px 1px red;
    background: red;
}


/* end of container */


/* start of partner */

.partner{
    overflow: auto;
    clear: both;
    margin-bottom: 200px;;
}

.partner img{
    margin-left: 70px;
}


/* end of partner  */


/* Start of our services */

.our-service h1{
    margin-bottom: 30px;
}
.service-info{
    width: 630px;
    margin-bottom: 115px;
}


.special-items{
    width: 330px;
    height: 80px;
    margin: 0 70px 80px 0;
}

.special-content{
    width: 235px;
    float: right;
}




