
.go-left{
    float: left;
}

.go-right{
    float: right;
}


.clearfix {
    overflow: auto;
}


.navbar-wrapper{
    background-color: #76C7C1;
   
}

.main { 
    max-width: 1147px;
    width: 100%;
    margin: 0 auto;
    
}

.is-col2{
    width: 50%;
}

.is-col3{
    width: 25%;
}

.is-col3-inv{
    width: 75%;
}


.dash{

margin-left: 41%;

}

