.navbg{
    background-color: #76C7C1;
    
}

nav {
    padding: 15px 0 15px 0;
    background-color: #76C7C1;
}

.navbar-menu li {
    text-transform: uppercase;
    display: inline-block;
    width: 12.2093%;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
 
    
}

.navbar-menu li a{
    text-decoration: none;
    color: white;
}

.navbar-menu li:hover{
    background-image: url("../images/btn-blue.png");
    background-repeat: no-repeat;
}

.navbar-menu{
    line-height: 40px;
    padding: 20px auto;
    margin-left: 0%;
  
}

.navbar-ruler {
    background-image: url("../images/black-ruler.png");
    background-repeat: repeat-x;
    height: 1%;
}
nav .logo img {
    display: inline-block;
   
}

.active {
    background-image: url("../images/btn-blue.png");
    background-repeat: no-repeat;
}


.search-icon:hover{
    background-image: url("../images/btn-red.png");
    background-repeat: no-repeat;
}

.serch-icon:hover .search-icon-img{
    background-image: url("../images/search-hover.png");
}


.navbar{
    float: right;
}



header{
    background: #ececec;
}

.triangle{
    margin-top: 2%;
}

.slider-content{
    position: relative;
    padding: 3% 0 3% 0;
}

.slider-arrow-left{
position:absolute;
top: 50%;
}

.left-icon:hover{
    padding: 1%;
    background: red;
}


.right-icon:hover{
    padding: 1%;
    background: red;
}

.slider-arrow-right{
    position:absolute;
    top: 50%;
    right: -1.8%;
    }


.smslider-3col{
    width: 60%;
    padding: 3%;
}



.two-col-slider{
    padding: 4% 0 4% 0;
}

.sm-sidebar{
    margin-top: 0%;
}



.our-team-wrapper{
    background-color: #ececec;
    height: 300px;
    position: relative;
    
}




.our-team{
    padding: 70px 0 80px 0;
    text-align: center;
    font-family: Arial, 'Times New Roman', Times, sans-serif;
    font-size: 30;
    text-transform: uppercase;
    color: #99a3a4;
    font-weight: bold;


}


.card-wrapper{
    
    top:1%
    left: 7%;

}

.card-wrapper p {
    padding: 10%;
    color: #f3f3f3;
    visibility: hidden;
    
}

.card-wrapper a{
    text-decoration: none;
}


.card{
    background-image:url("../images/card.png");
    width: 250px;
    height: 310px;
}
.card {
    position: relative;
    margin: 0 10px;
    display: inline-block;
}
.social-wrapper {
    margin-left: 30px;
    visibility: hidden;
}

.social{
    margin: 3px;
}

.card:hover{
    background: url("../images/cardblue.png");
}

.card:hover .btn{
    background:#e9645b;
}

.card:hover p{
    visibility: visible;
}
.card:hover .social-wrapper{
    visibility: visible;
}

.btn{
    background: #99a3a4;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    bottom: -10%;
    left: 15%;
    color: white;
}

.btn:hover{
    background: #e9645b;
} 



.dash-img{
    padding: 0% 0 10% 0;;
}

.hr-read-bar{
padding-top: 10%;
padding-bottom: 10%;

}

/*-------------------------------------------------------*/

/*Image Collection Starts here*/

.images-collection-body{
	max-width: 73.125em;
	margin: 0 auto;
	padding-bottom: 40px;
}

.images-upper{
	width: 100%;
	
}

.up-image{
	position: relative;
	width: 23%;
	height: 20.9vw;
	float: left;
	margin-top: 35px;
	margin-right: 2.62%;
	border-radius: 10px 10px 10px 10px;

}

.img-to-hide{
	width: 100%;
	height: 100%;
}

.image-hide{
	display: none;
	background: #76c7c1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.image-hide p{
	position: absolute;
	color: white;
	font-size: 16px;
	left: 31.11111111%;
	bottom: 15.92592593%;
}

.eye{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 33.333333333%;
	top: 40%;
	background: #76b7b1;
	border-radius: 5px;
}

.eye:hover{
	background:#78b9b3;
}

.link:hover{
	background: red;
}

.eye img{
	padding-left: 8px;
	padding-top: 12px;
}

.link img{
	padding-left: 8px;
	padding-top: 8px;
}

.link{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 51.85185185%;
	top: 40%;
	background: #78b9b3;
	border-radius: 5px;
}


.images-collection-body img{
	border-radius: 10px;
}

.image1:hover .image-hide{
	display: block;	
}

.image2:hover .image-hide{
	display: block;	
}


.image3:hover .image-hide{
	display: block;	
}


.image4{
	margin-right: 0px;
}

.image4:hover .image-hide{
	display: block;	
}

.images-lower{
	width: 100%;
}

.down-image{
	position: relative;
	width: 48.5%;
	/*height: 270px;*/
	float: left;
	margin-top: 35px;
	margin-right: 0%;
	border-radius: 10px;
}

.image-show img{
	width: 100%;
	height: 20.75vw;
}

.image5:hover .image-hide-low{
	display: block;
}

.image6{
	margin-right: 0px;
	float: right !important;
}

.image6:hover .image-hide-low{
	display: block;
}

.image-hide-low{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: #76c7c1;
	width: 100%;
	height: 20.75vw;
	border-radius: 10px;
}

.image-hide-low p{
	position: absolute;
	color: white;
	font-size: 16px;
	left: 42%;
	bottom: 15%;
}

.eye-low{
	width: 40px;
	height: 40px;
	position: absolute;
	left:43%;
	top: 40%;
	background: #78b9b3;
	border-radius: 5px;
}

.eye-low:hover{
	background:#78b9b3;
}

.link-low:hover{
	background: red;
}

.eye-low img{
	padding-left: 8px;
	padding-top: 12px;
}

.link-low img{
	padding-left: 8px;
	padding-top: 8px;
}

.link-low{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 52%;
	top: 40%;
	background: #78b9b3;
	border-radius: 5px;
}

/*Image Collection Ends Here*/

/*-------------------------------------------------------*/

/*Paragraph collection starts Here*/

.p-collection-body{
	max-width: 73.125em;
	margin: 0 auto;
	padding-top: 56px;
}

span.p-heading{
	color: #7F8C8C;
	font-size: 16px;
	font-family: arialExtraBold;
}

.p-collection-body p{
	color: #7F8C8C;
	font-size: 14px;
	font-family: arialRegular;
	line-height: 23px;
	padding-top: 10px;
	padding-bottom: 64px;
	padding-right: 35px;
}
.p1-wrapper{
	width: 100%;
	float: left;
}

.p2-wrapper, .p3-wrapper{
	width: 50%;
	float: left;
}

.p4-wrapper{
	width: 75%;
	float: left;
}

.p5-wrapper{
	width: 25%;
	float: left;
}

/*Paragraph Collection Ends Here*/

/* ----------------------------------------------------- */

/*List Collection Starts Here*/

.list-collection-body{
	max-width: 73.125em;
	margin: 0 auto;
	padding-bottom: 40px;
}

.list-collection-heading{
	color: #7F8C8C;
	font-size: 16px;
	font-family: arialExtraBold;
	padding-bottom: 34px;
}


.list-collection-c1{
	float: left;
	/*width: 290px;*/
	width: 25%;
	margin-top: 50px;
}

ul.list-1 {
	font-size: 13px;
	font-family: arialRegular;
	list-style-image: url('../images/list-1.png');
}

ul.list-1 li{
	padding-bottom: 13px;
}

.list-collection-list-wrapper{
	color: #8c8c8c;
	padding-left: 20px;
}

.list-collection-c2{
	float: left;
	/*width: 290px;*/
	width: 25%;
	margin-top: 50px;
}

ul.list-2 {
	font-size: 14px;
	font-family: arialRegular;
	list-style-image: url('../images/list-2.png');
}

ul.list-2 li{
	padding-bottom: 14px;
}

.list-collection-c3{
	float: left;
	/*width: 290px;*/
	width: 25%;
	margin-top: 50px;
}

ul.list-3 {
	font-size: 14px;
	font-family: arialRegular;
	list-style-image: url('../images/list-3.png');
}

ul.list-3 li{
	padding-bottom: 14px;
}

.list-collection-c4{
	float: left;
	/*width: 290px;*/
	width: 25%;
	margin-top: 50px;
}

ul.list-4 {
	font-size: 14px;
	font-family: arialRegular;
	list-style-image: url('../images/list-4.png');
}

ul.list-4 li{
	padding-bottom: 14px;
}

hr{
	max-width: 73.125em;
	margin: 0 auto;
	/*margin-bottom: 56px;*/
	background-color: #E5E6E6;
	border: none;
	height: 3px;
}

/*List Collection ends Here*/

/*------------------------------------------------------*/
